<!-- The fix - hide empty details with *ngIf -->
<!-- The component should only display the selected hero details if the selectedHero exists. -->
<!-- Why it works: -->
<!-- When 'selectedHero' is undefined, the 'ngIf' removes the hero detail from the DOM. There are no 'selectedHero' bindings to consider. -->
<!-- When the user picks a hero, selectedHero has a value and ngIf puts the hero detail into the DOM. -->
<!-- // The new HeroDetailComponent can present any hero, not just a selected hero. So replace "selectedHero" with "hero" everywhere in the template. -->
<div *ngIf="hero">

  <!-- The word 'uppercase' in the interpolation binding, right after the pipe operator ( | ), activates the built-in UppercasePipe. -->
  <!-- When the application starts, the 'selectedHero' is undefined by design. -->
  <!-- Binding expressions in the template that refer to properties of selectedHero—expressions like {{selectedHero.name}}—must fail because there is no selected hero. -->
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero?.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
  </div>

</div>
