<h2>Top Heroes</h2>
<div class='heroes-menu'>

  <!-- The *ngFor repeater creates as many links as are in the component's heroes array. -->
  <!-- routerLink="/detail/{{hero.id}}" Can't bind to 'routerLink' since it isn't a known property of -->
  <a *ngFor="let hero of heroes"
    routerLink="/detail/{{hero.id}}"
  >
    {{hero.name}}
</a>
</div>
