<!-- <h2>{{hero.name | uppercase}} Detail</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div> -->

<h2>My Heroes</h2>

<ul class="heroes">

  <!-- The *ngFor is Angular's repeater directive. It repeats the host element for each element in a list. -->
  <!-- The parentheses around 'click' tell Angular to listen for the <li> element's click event. -->
  <!-- When the user clicks in the <li>, Angular executes the 'onSelect(hero)' expression. -->
  <!-- Angular's class binding can add and remove a CSS class conditionally. Just add "[class.some-css-class]="some-condition"" to the element you want to style. -->
  <!-- When the current row 'hero' is the same as the 'selectedHero', Angular adds the selected CSS class. When the two heroes are different, Angular removes the class. -->
  <!-- [class.selected]="hero === selectedHero"
  (click)="onSelect(hero)"  is attributes of the li tag-->
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>

  <!-- [hero]="selectedHero" is an Angular property binding. -->
  <!-- It's a one way data binding from the selectedHero property of the HeroesComponent to the hero property of the target element, which maps to the hero property of the HeroDetailComponent. -->
  <!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
</ul>


